html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #909090;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

* {
    user-select: none;
}

#healthbar {
    display: block;
    position: absolute;
    left: 5px;
    bottom: 5px;
    max-width: 200px;
    width: 30%;
    min-width: 100px;
    height: 30px;
    background-color: #aaa;
    pointer-events: none;
    border-radius: 5px;
    border: 2px solid #333;
}

#healthbar div {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0b5e00;
    transition: background-color 0.2s, width 0.2s;
    border-radius: 2px;
}

#inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 10px;
    pointer-events: none;
}

#inventory>div {
    display: none;
    position: relative;
    margin-bottom: 5px;
}

#inventory>div.show {
    display: block;
}

#inventory>div>img {
    float: right;
    width: 40px;
    height: 40px;
}

#inventory>div>p {
    float: left;
    margin: 0 5px 0 0;
    line-height: 40px;
    font-size: 25px;
    text-align: right;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 60px;
    pointer-events: none;
}

#info p {
    display: block;
    position: absolute;
    opacity: 0;
    background-color: #aaa;
    pointer-events: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    bottom: 20px;
    margin-right: 50px;
    transition: opacity 0.2s;
    text-align: center;
}

#info p.show {
    opacity: 1;
}

#deathscreen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 100;
}

#deathscreen.show {
    display: block;
}

#deathscreen .container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#deathscreen .container h1 {
    display: block;
    margin-bottom: 5px;
}

#deathscreen .container p {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

#deathscreen .container button {
    height: 50px;
    width: 200px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

#deathscreen .container button:hover {
    background-color: #111;
    cursor: pointer;
}